<div class="row mx-4 my-2">
     <div class="col-md-12 text-center">
          <h1 class="text-white large-font" style="font-family: 'Ubuntu Mono', monospace;">About Me</h1>
     </div>
     <div class="row mt-5 mb-5">
          <div class="col-md-4">
               <img src="/assets/images/suprem.jpg" class="img-fluid mb-2" alt="Suprem Vanam's Photo">
          </div>
          <div class="col-md-8">
               <div class="mt-4">
                    <p class="h1 text-white" style="font-size: 3rem">Hello!</p>
                    <p class="lead text-white">
                         My name is Suprem Vanam, and I am from India. I am currently in my second semester studying
                         Software Engineering Technology (Fast-track) course at Centennial College.
                    </p>
                    <p class="h5 text-white">
                         A brief information about my experience </p>
                    <ul class="text-white">
                         <li> I graduated with a Computer Science degree in 2017</li>
                         <li> During the final year of college, I worked on and published an app to the Apple AppStore
                              that was downloaded by more than 1000 people</li>
                         <li> After graduating from college I worked at Genpact, a New York based service oriented
                              company in Hyderabad, India</li>
                    </ul>
                    &nbsp;&nbsp;
                    <p class="text-white">
                         If you're interested in knowing more about me, please download a copy of my resume by clicking
                         the
                         button below
                    </p>

               </div>
               <div class="mt-4">
                    <a href="/assets/documents/supremvanam-resume.pdf" download="supremvanam-resume">
                         <button type="button" class="btn text-dark btn-lg bg-white"> <i
                                   class="fas fa-file-download"><span id="ubuntu-font"> Download my resume!</span>
                              </i></button>
                    </a>
                    
               </div>
                <div class="mt-4">
                   <a href="/projects" style="  text-decoration: none;">
                   <p class="h6 text-white">
                    <u>Click here</u> to check my projects.
                   </p>
                   </a>
               </div>

          </div>
     </div>
</div>