  <!-- JS Section -->
  <script src="/jquery/dist/jquery.min.js"></script>
  <link rel='stylesheet' href="/bootstrap/dist/css/bootstrap.min.js" />
  <script src="/scripts/app.js"></script>

</body>

</html>