<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
  <%= title %>
  </title>
  <link rel="shortcut icon" type="image/png" href="/assets/images/supremvanam-logo.png"/>

  <!-- CSS Section -->
  <link rel='stylesheet' href="/bootstrap/dist/css/bootstrap.min.css" />
  <link rel='stylesheet' href="/@fortawesome/fontawesome-free/css/all.min.css" />
  <link rel='stylesheet' href='/content/app.css' />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,700&display=swap" rel="stylesheet">
</head>

<body>