<div class="row mx-4 my-2">
    <div class="col-md-12 text-center">
         <h1 class="text-white" style="font-family: 'Ubuntu Mono', monospace; font-size: 20vw;">Welcome!</h1>
     </div>
     <div class="row mt-5 mb-5">
         <div class="col-md-12">
              <div class="mt-4">               
                   <p class="lead text-white text-center">
                        "My mission is to design and develop real world applications that make a significant impact in the lives of people."
                   </p>
                   <a href="/about" style="  text-decoration: none;">
                   <p class="h6 text-white text-center">
                    Thanks for stopping by! <u>Click here</u> to know more about me.
                   </p>
                   </a>
              </div>
              
         </div>
    </div>
</div>