<%- include('header.ejs')%>
<%- include('main_nav.ejs')%>

<div class="row mx-4 my-2">
     <div class="col-md-12 text-center">
          <h1 class="text-white large-font" style="font-family: 'Ubuntu Mono', monospace;">Projects</h1>
     </div>
               <div class="mt-4">
                   <a href="/services" style="  text-decoration: none;">
                   <p class="h6 text-white text-center">
                    <u>Click here</u> to know more about the services I offer.
                   </p>
                   </a>
          </div>
     <div class="row mt-5 text-center align-items-center">
          <div class="col-md-6">
               <div class="card">
                    <img src="/assets/images/project-photo-1.jpg" class="card-img-top" alt="Blood Donation App">

               </div>
          </div>
          <div class="col-md-6">
               <div class="card-body">
                    <p class="h3 text-white" style="font-family: 'Ubuntu Mono', monospace;">Redrop - Blood Donation App
                    </p> &nbsp;
                    <p class="h5 text-white">
                         I built an iOS app to find blood donors in an area using the phone's location. This app has
                         features such as calling and sending SMS to the donors without exiting the app, and most
                         importantly, the app is Gamified, which means it rewards the users for every contribution they
                         make. The app went live on the AppStore all over the world but has been removed recently, and
                         will be published along with the Android app.
                    </p>
               </div>
          </div>
     </div>

     <div class="row mt-5 text-center align-items-center">
          <div class="col-md-6">
               <div class="card-body">
                    <p class="h3 text-white" style="font-family: 'Ubuntu Mono', monospace;">Event Q & A</p> &nbsp;
                    <p class="h5 text-white">
                         I would like to build an app that lets the event organisers create a link where the attendees
                         can post their questions during Q&A sessions in the event. The app also allows the event
                         organisers to get updates from social media platforms where using their event's hashtag.
                    </p>
               </div>
          </div>
          <div class="col-md-6">
               <div class="card">
                    <img src="/assets/images/project-photo-2.jpg" class="card-img-top" alt="Event Photo">
               </div>
          </div>
     </div>

     <div class="row mt-5 text-center align-items-center">
          <div class="col-md-6">
               <div class="card">
                    <img src="/assets/images/project-photo-3.jpg" class="card-img-top" alt="Doctor on phone">

               </div>
          </div>
          <div class="col-md-6">
               <div class="card-body">
                    <p class="h3 text-white" style="font-family: 'Ubuntu Mono', monospace;">Doctor Updates
                    </p>&nbsp;
                    <p class="h5 text-white">
                         I would like to build an app and a website in which the doctors can write the prescription and
                         send it to the patient through the app which then will remind the patient to take the medicines
                         on time. This is help the doctor to monitor the doses of the patient. It works like a to-do
                         list app for the patient.
                    </p>
               </div>
          </div>

     </div>

</div>
</div>
</div>


<%- include('footer_nav.ejs')%>
<%- include('footer.ejs')%>