<div class="row mx-4 my-2">
     <div class="col-md-12 text-center">
          <h1 class="text-white large-font" style="font-family: 'Ubuntu Mono', monospace;">Services</h1>
     </div>
     <div class="col-md-12 mt-4">
          <div class="row">
               <div class="col-md-6">
                    <p class=" lead text-white text-center">
                         I offer a wide range of services from designing to developing a software application. If you
                         have any work related queries, please contact me.
                    </p>
                    <ul class="lead text-white text-center">
                         <p> User Interface Design </p>
                         <p> Full Stack Web Development </p>
                         <p> Full Stack Mobile App Development </p>
                    </ul>
                  <div class="mt-4">
                   <a href="/contact" style="text-decoration: none; font-family: 'Ubuntu Mono', monospace;">
                   <p class="h6 text-white text-center">
                    <u>Get in touch with me</u>
                   </p>
                   </a>
          </div>
               </div>
               <div class="col-md-6">
                    <img src="/assets/images/services-1.jpg" class="img-fluid mb-2" alt="Services Image">
               </div>
          </div>
     </div>
</div>