/* // File: app.css
// Name: Suprem Vanam
// Student ID: 301177430
// Date: 31-MAY-2021 */

/* Custom CSS */
.hidden {
  color: #f8f9fa;
}

#ubuntu-font {
  font-family: "Ubuntu Mono", monospace;
  font-size: 20px;
}

.large-font {
  font-size: 12vw;
}
